##########################
#ARCHIVOS GENERADOS EN UE#
##########################

*/Build
*/Binaries
*/Intermediate
*/DerivedDataCache
*/Saved
BuildingEscape/Content/StarterContent/
*.db

##########################
#ARCHIVOS GENERADOS C++  #
##########################

*.VC.db
*.VC.VC.opendb